<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %}
            <a href="?page=1">&laquo; debut</a>
            <a href="?page={{ page.previous_page_number }}">precedent</a>
        {% endif %}

        <span class="current">
            Page {{ page.number }} sur {{ page.paginator.num_pages }}.
        </span>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">suivant</a>
            <a href="?page={{ page.paginator.num_pages }}">dernier &raquo;</a>
        {% endif %}
    </span>
</div>
