{% extends 'base.html' %}

{% block content %}
    <hr>
      <h1 class="intro-text text-center">A PROPOS</h1>
    <hr class="detail-separator">

    <p class="text-justify col-md-6 col-md-offset-3">
        Ce site vous donne la possibilité de consulter l'ensemble des produits mis en ventes par la société <strong>AVDEA</strong> (Achat Vente Dressage Elevage des Animaux). Vous pouvez ainsi sélectionner un produit et faire les négociation pour un potentiel achat.
        <br/><br/> <span class="underline" style="text-decoration:underline;"> NB</span> : aucune transaction d'argent n'est effectuer via ce site; Le client effectuera le paiement après livraison et appréciation du produit.
        <br/><br/>
    </p>
{% endblock %}
